pyttsx3
qrcode
opencv-python-headless
pandas
numpy
face_recognition @ git+https://github.com/naiyen1002/face_recognition
ultralytics
pyzbar
streamlit
streamlit-option-menu
streamlit-aggrid
gTTS
openpyxl

# Not necessary, so far Mac required
# If got Torch issue with Unavailable FACE SCAN, then try these in terminal
# pip install
# rm -rf ~/.cache/torch_extensions
# pip install --upgrade torch ultralytics