qrcode
opencv-python
pandas
numpy
ultralytics
pyzbar
streamlit
streamlit-option-menu
streamlit-aggrid
gTTS
openpyxl
face_recognition @ git+https://github.com/naiyen1002/face_recognition
pyzbar @ git+https://github.com/naiyen1002/pyzbar.git
streamlit-webrtc
opencv-python-headless
av
streamlit-autorefresh


# Not necessary, so far Mac required
# If got Torch issue with Unavailable FACE SCAN, then try these in terminal
# pip install --upgrade ultralytics
# rm -rf ~/.cache/torch_extensions
# pip install --upgrade torch ultralytics